body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    padding: 0.5em;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}


.hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}

.features {
    padding: 3em 0;
    text-align: center;
}

.feature {
    margin-bottom: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
